.mat-toolbar-row {         
    color:rgb(176, 47, 47);
    padding: 10px;
    text-align:center;
 }

 .button {
    color:rgb(176, 47, 47);
    text-align:center;
 }

 .home-button-spacer {
   flex: 1 1 auto;
 }