.mat-toolbar-row {         
    color:rgb(176, 47, 47);
    padding: 10px;
    text-align:center;
 }

 .button {
    color:rgb(176, 47, 47);
    text-align:center;
 }

 .home-button-spacer {
   flex: 1 1 auto;
 }

 .content-container {
    width: 800px;
    margin: 20px;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}