<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Don't know which book to read? Let us match you with your next book!</span>
</mat-toolbar-row>
</mat-toolbar>

<div><p>Welcome! Are you tired of your own bookshelf and want to explore the fantastic world of literature once more? 
    Match with our database and get a suggestion based on <i>your</i> choices of what book next to read!</p></div>
<app-book-search></app-book-search>
<button routerLink="/recommend-books">Få en bok rekommenderad!
</button>
<router-outlet></router-outlet>