<div class="example-section">
<form [formGroup] = "bookForm">
  <mat-label>Genre:
    <div *ngFor="let genre of genres; let i=index" formArrayName="genre">
      <mat-checkbox [formControlName]="i">{{genre.name}}</mat-checkbox>
    </div>
  </mat-label>
  <mat-form-field appearance="fill">
    <mat-label>Language</mat-label>
    <mat-select formControlName="time">
      <mat-option value="Förhistorisk tid">Förhistorisk tid</mat-option>
      <mat-option value="Modern tid">Modern tid</mat-option>
    </mat-select>
  </mat-form-field>
</form>
</div>