<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Don't know which book to read? Match with us!</span>
</mat-toolbar-row>
</mat-toolbar>

<div><p>Welcome! Are you tired of your own bookshelf and want to explore the fantastic world of literature once more? 
    Match with our database and get a suggestion based on <i>your</i> choices of what book next to read!</p></div>

<div class ="container">
    <form onSubmit="handleSubmit()" >
        <div class = "form-group">
            <label for="genre">Choose genre</label><div></div>
            <select required name = "genre" class="form-control">
                <option key="Select perferred genre" value = "" diasbled>-</option>
            </select>
        </div>
    </form>
</div>

