<div class="recommend-book-container">
  <mat-card class = "recommend-book-card">
    <mat-card-header>
      <mat-card-title>We think you would really like...</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      {{bookMatch.title}}
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-raised-button color="primary" (click)="saveBook()" routerLink="/saved-books"> Sounds good!</button>
      
      <div *ngIf="getRandomize()">
        <button class="button" mat-raised-button color="primary" (click)="newSuggestion()">Give me a new suggestion</button>
      </div>

      <button class="button" mat-raised-button color="primary" routerLink="/book-search" (click)="setRandomize(false)">Change my choices</button>

    </mat-card-actions>
  </mat-card>
</div>